.ui-tabs-vertical { width: 100%; }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 15%; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; width: 100%; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 80%;}

.tele-user-permissions .tabs .tele-checkbox .tele-input-label{
	width: 330px;
}

.tele-user-permissions .tele-perm-tabs.ui-tabs.ui-widget.ui-widget-content.ui-corner-all .tabs{
	clear: both;
	min-height: 300px;
}

.tele-user-permissions .tele-perm-tabs.ui-tabs.ui-widget.ui-widget-content.ui-corner-all ul{
	min-height: 30px;
}

.tele-config-bar {
	background-color: #333333;
	height: 40px;
	overflow: hidden;
}
.tele-config-bar-left {
	width: 30%;
	height: 40px;
	float: left;
}
.tele-config-bar-left .tele-search {
	float: left;
	margin-left: 20px;
	margin-top: 8px;
}

.tele-config-bar-right {
	width: 65%;
	height: 40px;
	float: left;
}
.tele-config-content {
	height: 100%;
}
.tele-config-content-left {
	position: relative;
	width: 30%;
	height: 100%;
	float: left;
	background-color: white;
}
.tele-config-content-right {
	position: relative;
	width: 70%;
	height: 100%;
	float: left;
	background-color: #E6E6E6;
}
.tele-config-bar .tele-button {
	float: right;
	margin-right: 20px;
	margin-top: 4px;
	color: white;
}

body .jstree-default-contextmenu {
	z-index: 1001;
}

body .jstree .jstree-icon {
/*	display: none;*/
}
body .jstree-node {
	background-image: none;
	border-bottom: 1px solid #CCCCCC;
}
body .jstree-default .jstree-node {
	background-image: none;
	background: transparent;
}
body .jstree-icon.jstree-themeicon {
	display: none;
}
body .jstree-default .jstree-icon {
	margin-top: 13px;
}

body .jstree-anchor {
	font-size: 18px;
	color: #555;
	padding: 15px 20px;
}
body .jstree-grid-cell {
	z-index: 100;
	position: relative;
}
body .jstree-grid-cell-last{
	margin-right: 10px;
}

body .jstree-grid-cell .learning-so-far {
	margin-top: 16px;
	font-size: 17px;
}
body .jstree-default .jstree-wholerow {
	height: 54px;
}
body .jstree .tele-button {
	margin-top: 10px;
}

.tele-config-content-right .tele-button {
	margin-right: 15px;
}

.tele-rule-editor .tele-multi .tele-title-1{
	width: 300px;
}

.tele-config-content-right .tele-form-buttons {
    text-align: center;
}

/* JQUI Tabs */
.ui-tabs-nav.ui-widget-header {
	border: none;
	background: none;
	float: left;
	margin-top: 14px;
}

.tele-user-permissions .tele-perm-tabs.ui-tabs.ui-widget.ui-widget-content.ui-corner-all ul{
	margin-top: -50px;
}

.ui-tabs-nav.ui-widget-header li {
	float: left;
	color: white;
	margin: 0px 3px 0px 0px;
	text-align: center;
}

.ui-tabs-nav .ui-state-default,
.ui-tabs-nav .ui-tabs-active {
	border: none;
}
.ui-tabs-nav .ui-state-default a, 
.ui-tabs-nav .ui-state-default a:link, 
.ui-tabs-nav .ui-state-default a:visited {
	font-weight: normal;
	font-size: 15px;
	color: #555;
	padding: 10px 30px 15px;
	width: 105px;
	background: none repeat scroll 0% 0% #C7C7C7;
	height: 20px;
}

.ui-tabs-nav .ui-state-default.ui-tabs-active a, 
.ui-tabs-nav .ui-state-default.ui-tabs-active a:link, 
.ui-tabs-nav .ui-state-default.ui-tabs-active a:visited {
	background: #F7931E;
	color: #555;
}
.ui-tabs .ui-tabs-panel,
.ui-tabs.ui-widget-content {
	border: none;
	background: #E6E6E6;
	background-image: none;
	top: 30px;
}


/* RECORD FLOW */

.record .flow-arrow {
	margin-top: 80px;
	margin-bottom: 80px;
}

.flowContainer,
.flowContainer.record {
	height: 100%;
	overflow-y: auto;
}

.record-flow-wrap {
	height: 186px;
	width: 280px;
	margin-left: 5px;
	float: left;
	margin-top: 15px;
	background: transparent url('../images/arrow_right_flow.png') center right no-repeat;
}

.record-flow-inner-wrap {
	width: 246px;
	float: left;
	margin: 5px;
	border: 1px solid black;
	border-radius: 5px;
	padding: 2px;
	height: 174px;
	max-height: 174px;
}

.record-flow-title-wrap {
	height: 19px;
	background-color: #eee;
	padding: 2px 5px;
	border-top: 1px solid #eee;
	border-radius: 5px;
	margin: 0px;
	cursor: pointer;
	
	border-bottom-right-radius: 0px;
	border-bottom-left-radius:  0px;
}
.record-flow-title-wrap span {
	width: 210px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-size: 11px;
	float: left;
}

.record-flow-table-wrap {
	max-height: 150px;
	width: 240px;
	overflow-y: auto;
}

.record-flow-table {
	width: 100%;
	border-spacing:0;
	border-color: gray;
	border-collapse:collapse;
	border-bottom: 1px solid #eee;
	border-radius: 5px;
	table-layout: fixed;
}
.record-flow-table td {
	padding: 3px;
	font: normal 11px/15px tahoma,arial,verdana,sans-serif;
	background-color: white;
	border: 1px solid #d0d0d0;
	word-wrap:break-word;
	max-width:120px;
}

.record-flow-table .excluded {
	background-color: aliceblue;
	opacity: 0.6;
}

.record-flow-table tr.even {
	
}
.record-flow-table tr.odd td {
	background-color: #EEEEEE;	
}

.tele-rule-param-wrap {	
	border-right: 2px solid #555;
    float: left;
    height: 200px;
    margin-left: 20px;
	margin-top: 5px;
}

.tele-rule-conditions {
	padding: 20px;
}

.tele-rule-score {
	float: left;
}

.tele-ruletype-select,
.tele-condition-select {
	display: block;
	clear: both;
}
.tele-ruletype-select .mCSB_container.mCS_no_scrollbar,
.tele-condition-select .mCSB_container.mCS_no_scrollbar {
	margin-right: 15px;
}
.tele-condition {
	position: relative;
}
.tele-condition-remove {
	position: absolute;
	top: 10px;
	right: 10px;
}
.tele-country-not {
	margin-bottom: 20px;
}
.tele-application-list,
.tele-country-list {
	
	overflow: auto;
	clear: both;
	overflow-y: scroll;
	overflow-x: hidden;
	
	height: 330px;
	width: 100%;
	
}

.tele-condition-select .tele-country-list {
	overflow: hidden;
	height: 220px;
}
.tele-condition-select .tele-country-list ul {
	height: 207px;
}
.tele-condition-select .tele-country-list .tele-input {
	margin-left: 7px;
}

.tele-application-list li,
.tele-country-list li {
	clear: both;
	height: 30px;
	cursor: pointer;
	display: block;
}
.tele-country-list li.hover {
	background-color: #cecece;
}
.tele-country-list .flag {
	float: left;
	margin-right: 10px;
        margin-left: 5px;
}
.tele-country-list .text {
	float: left;
	margin-top: 10px;
}
.tele-condition-not-lbl {
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	font-size: 17px;
	color: #555;
}
.tele-condition-title {
	text-transform: capitalize;
	font-size: 20px;
	color: #555;
	padding: 10px;
}
.tele-condition-not-wrap {
	clear: both;
	width: 100%;
	height: 40px;
}

.tele-condition-debug {
	padding: 20px;
	margin: 20px;
	clear: both;
	float: left;
	height: 100px;
	width: 300px;
}

.tele-ruletype-accordion,
.tele-condition-accordion {
	margin-right: 5px;
}

.tele-ruletype-accordion .ui-accordion-content,
.tele-condition-accordion .ui-accordion-content {
	background-image: none;
	background: white;
	border: none;
	padding: 0px 20px;
}

.tele-ruletype-accordion .ui-accordion-content.ui-accordion-content-active,
.tele-condition-accordion .ui-accordion-content.ui-accordion-content-active {
	border-radius: 10px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	margin-bottom: 10px;
	min-height: 270px;
}

.tele-ruletype-accordion .ui-accordion-content.ui-accordion-content-active {
	min-height: 326px;
}

.tele-ruletype-accordion .ui-accordion-header,
.tele-condition-accordion .ui-accordion-header {
	padding: 14px 25px;
	background-image: none;
	background: white;
	border-radius: 10px;
	border: none;
	color: #333333;
	margin-bottom: 10px;
	font-family: 'Roboto Condensed', sans-serif;
}

.tele-ruletype-accordion .ui-accordion-header {
	background-color: #cecece;
}

.tele-ruletype-accordion .ui-accordion-header.configured {
	background-color: white;
}

.tele-ruletype-accordion .ui-accordion-header .brief,
.tele-condition-accordion .ui-accordion-header .brief {
	position: absolute;
	top: 20px;
	left: 250px;
	font-size: 15px;
	font-family: 'Roboto Condensed', sans-serif;
}

.tele-ruletype-accordion .ui-accordion-header .brief {
	font-size: 14px;
    font-weight: normal;
    left: 200px;
    max-width: 900px;
    top: 15px;
	margin-right: 120px;
}

.tele-overlay-content .tele-ruletype-accordion .ui-accordion-header .brief {
	top: 8px;
}

.tele-ruletype-accordion .ui-accordion-header.ui-accordion-header-active .brief,
.tele-condition-accordion .ui-accordion-header.ui-accordion-header-active .brief {
	/*display: none;*/
	/*max-width: 830px;*/
}

/*#ui-accordion-2-header-0 > .brief{
	max-width: 830px;
}*/

.tele-ruletype-accordion .ui-accordion-header.ui-accordion-header-active,
.tele-condition-accordion .ui-accordion-header.ui-accordion-header-active {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	margin-bottom: 0px;
	/*padding-bottom: 0px;*/
}

.tele-ruletype-accordion .ui-accordion-header .ui-accordion-header-icon,
.tele-condition-accordion .ui-accordion-header .ui-accordion-header-icon {
	right: 20px;
	left: auto;
	top: 22px;
}

.tele-ruletype-accordion .ui-icon,
.tele-condition-accordion .ui-icon {
	background: transparent url('../img/icons.png') center right no-repeat;
	height: 20px;
	width: 25px;
	margin-top: -10px;
}

.ui-icon.ui-icon-triangle-1-e {
	background-position: -67px -557px;
}
.ui-icon.ui-icon-triangle-1-s {
	background-position: -100px -557px;
}

.tele-button-container {
	position: static;
	top: 80px;
	text-align: center;
}

.tele-rule-editor .tele-button-container {
  position: absolute;
  top: 0px;
  text-align: center;
  left: 400px;
}

.tele-config-content-right.tele-stacked .tele-config-container .tele-button-container{
	position: relative;
	/*top: 450px;*/
	clear: both;
	text-align: center;
	/*margin-right: 20%;*/
}

.tele-button-container-group{
	clear: both;
	margin-top: 50px;
	text-align: center;
}


.tele-overlay.tele-overlay-case-edit.ui-draggable .tele-overlay-content .tele-button-container{
	margin-left: 1085px;
    position: absolute;
    top: 35px;
}

.tele-button-container .tele-button {
	margin-right: 20px;
}

.tele-overlay.tele-overlay-dialog.ui-draggable .tele-overlay-content .tele-button-container{
	margin-left: 25px;
    text-align: center;
}

.tele-overlay.tele-overlay-dialog.ui-draggable .tele-overlay-content .tele-button-container a{
	margin-top: 5px;
}

.tele-condition-rules .jstree-grid-col-1 {
	position: absolute;
	left: 0px;
	top: 10px;
}

.tele-condition-rules .jstree .jstree-node {
	position: relative;
}
.tele-condition-rules .jstree-default .jstree-icon {
	margin-left: 40px;
}

.tele-condition-advanced {
	
}
.tele-condition-slider {
	padding: 10px;
	width: 200px;
}
.tele-condition-slider .ui-slider-horizontal {
	clear: both;
	margin-left: 15px;
}

/* RULE EDITOR */
.tele-ruletype-accordion .ui-accordion-header .tele-icon {
	height: 36px;
	margin-top: -3px;
}

.tele-ruletype-accordion .ui-accordion-header .tele-icon-delete {
	margin-top: -7px;
	float: right;
	margin-right: 50px;
}

.tele-ruletype-buttons {
	height: 140px;
	clear: both;
	width: 200px;
}

.tele-ruletype-button {
	display: block;
	float: left;
	clear: both;
	height: 25px;
	line-height: 20px;
	cursor: pointer;
}
.tele-ruletype-button a.hover {
	color: #555;
}

.tele-ruletype-button  div.tele-icon {
	margin-top: 0px !important;
}


.tele-rule-trigger-wrap {
	clear: both;
    display: block;
    height: 30px;
    margin: 10px -10px;
}
.tele-rule-trigger-wrap .tele-input {
	margin-right: 0px;
}
.tele-rule-trigger-wrap .tele-input {
	width: auto;
	clear: none;
	float: left;
}
.tele-rule-trigger-wrap .tele-input-label,
.tele-rule-trigger-wrap .tele-input-suffix {
	margin-top: 8px;
}

.tele-rule-toggle .tele-checkbox-checkbox {
	margin-top: 1px;
}

.tele-rule-trigger-wrap .tele-input-label {
	width: auto;
	margin-right: 5px;
	font-size: 15px;
	margin-left: 12px;
}
.tele-rule-trigger-wrap .tele-input-suffix {
	font-size: 15px;
}

.tele-rule-trigger-wrap .tele-input-input {
	float: left;
}

.tele-velocity-wrap .tele-input-label {
	width: auto;
	margin-right: 5px;
	font-size: 15px;
	margin-left: 12px;
}

.tele-velocity-wrap .tele-input {
	width: auto;
	clear: none;
	float: left;
}

.tele-string-inspection {
	float: left;
    margin-left: 20px;
    width: 200px;
}
.tele-string-inspection .tele-radio-label {
	width: 140px;
}
.tele-rule-string-inspection, .tele-rule-codeStatus-wrap {
	float: left;
	width: 400px;
}

.tele-rule-request-wrap {
	width: 200px;
	float: left;
	margin-left: 20px;
	height: auto;
	border-right: 2px solid #555;
	margin-top: 5px;
}

.tele-rule-bind, .tele-response-settings {
	margin-left: 20px;
	border-right: 2px solid #555;
	/* height: 130px; */
}

.tele-rule-anchor {
	float: left;
	width: 165px;
	/* height: 130px; */
	border-right: 2px solid #555;
}

.tele-parameter-type {
	border-right: 2px solid #555;
    clear: both;
    /*height: 200px;*/
	margin-left: 5px;
}

.tele-rule-trigger-wrap {
	background: #f4f4f4;
	border-radius: 15px;
	padding: 5px 10px;
}
.tele-rule-trigger-wrap .tele-input-suffix,
.tele-rule-trigger-wrap .tele-input-label {
	/*font-size: 11px;*/
}
.tele-rule-trigger-wrap .tele-input-input {
	margin-top: 5px;
    padding: 2px;
	border-radius: 10px;
	text-align: center;
}

.tele-title-1 {
	width: 99%;
}

.tele-radios.tele-limit-type .tele-title-1{
	margin-left: 15px;
	width: 100%;
}

.tele-radios.tele-limit-type-group{
	margin-left: 15px;
	width: 100%;
	margin-top: 20px;
	clear: both;
}

.tele-limit-ranges-group {
	clear: both;
	width: 100%;
	padding-top: 10px;
}

.tele-rule-anchor, .tele-rule-bind{
	width: 250px;
}


.tele-radio-on-off .tele-radio-label {
	width: 50px;
}
.tele-radio-on-off .tele-title-1 {
	width: 170px;
	margin-top: 0px;
}

.tele-workflow-recorder .tele-title-1 {
	margin: 20px 20px 20px 22px
}
.tele-workflow-recorder .tele-workflow-tracker {
	clear: both;
    margin: 10px 20px;
    padding: 10px 20px;
    width: 700px;
}
.tele-workflow-recorder .tele-workflow-tracker {
	position: relative;
}
.tele-workflow-recorder .tele-workflow-tracker .tele-title-1 {
	margin: 0;
}

.tele-workflow-tracker-info {
	border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 50px;
    left: 50px;
    position: absolute;
    top: 53px;
    width: 600px;
	padding: 10px 20px;
	margin-top: 7px;
}
.tele-workflow-tracker-info .tele-input {
	margin-bottom: 0px;
}
.tele-workflow-tracker-info .tele-input-label {
	font-size: 16px;
	margin-top: 8px;
	margin-bottom: 2px;
}
.tele-workflow-tracker-input-URL {
	width: 500px;
}
.tele-workflow-tracker-input-URL .tele-input-label { 
	width: 140px;
}
.tele-workflow-tracker-input-URL input {
	width: 340px;
}
.tele-control-record-cmd {
	float: right;
	width: 90px;
}
.tele-control-record-ico {

}
.tele-control-record-div {

}
.tele-control-record-cmd .tele-control-record,
.tele-control-record-cmd .tele-control-record-lbl {
	float: left;
}
.tele-control-record-cmd .tele-control-record-lbl {
	width: 30px;
	font-size: 16px;
}
.tele-workflow-tracker-info .tele-listitem-bigprogbar {
	margin-top: 5px;
	width: 540px;
}

.tele-action-container {
	float: left;
    height: 400px;
    margin-left: 20px;
	margin-top: 20px;
    padding: 0;
    width: 98%;
}
.tele-request {
	margin-bottom: 10px;
	float: left;
	clear: both;
	width: 550px;
}

.tele-request-page-title {
	font-weight: bold;
	font-size: 16px;
	float: left;
	margin-top: 10px;
	max-width: 250px;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-left: 10px;
}

.tele-request-page-path {
	float: left;
	margin-left: 20px;
	max-width: 250px;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-top: 11px;
}

.tele-request .tele-button {
	float: right;
	margin: 0px;
}
.tele-request .tele-icon {
	margin: 0px;
}

.tele-params-popover {
	min-width: 455px;
	max-width: 455px;
	width: 455px;
}
.tele-request-param {
	float: left;
	clear: both;
	height: 30px;
	margin-bottom: 8px;
}

.tele-request-param .tele-button {
	float: left;
}

.tele-request-param-name {
	float: left;
	margin-top: 9px;
	margin-left: 10px;
	width: 170px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.tele-request-param-value {
	float: left;
	margin-top: 9px;
	margin-left: 10px;
	width: 140px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	margin-right: 10px;
}

.tele-overlay-logmode {
	height: 500px;
	width: 500px;
}

.tele-config-container {
	padding: 10px 20px;
}

.tele-notification-setting {
	width: 500px;
	height: 70px;
	float: left;
	margin-top: 10px;
	margin-left: 45px;
	padding: 10px 0px 0px 25px;
}
.tele-notification-setting .tele-icon {
	float: left;
	height: 30px;
	width: 30px;
	background-color: #555555;
	border-radius: 19px;
}
.tele-notification-desc {
	float: left;
	width: 250px;
	
	color: #555;
    font-family: 'Roboto Condensed Regular';
    font-size: 16px;
    height: 16px;
    line-height: 16px;
    	
}

.tele-notification-setting .tele-input-label { width: 100px; }
.tele-notification-setting .tele-icon-config { background-position: -416px -206px; }
.tele-notification-setting .tele-icon-application { background-position: -296px -55px; }

.tele-notification-settings-apply {
	position: absolute;
	left: 330px;
	top: 0px;
}

.tele-notification-setting .tele-range {
	clear: none;
	float: left;
	width: 300px;
}
.tele-notification-setting .tele-range .ui-slider {
	width: 130px;
}
.tele-notification-setting .tele-checkbox {
	clear: none;
}
.tele-notification-setting .tele-range .tele-input-label,
.tele-notification-setting .tele-range .tele-input-suffix {
	font-size: 16px;
	width: 100px;
}

.tele-group-permissions{
    min-height: 300px;
}

.tele-group-permissions .tele-perm-tabs.ui-tabs.ui-widget.ui-widget-content.ui-corner-all .tabs{
	margin-left: -20px;
}

.tele-group-permissions .tele-perm-tabs.ui-tabs.ui-widget.ui-widget-content.ui-corner-all ul{
	margin-top: -55px;
}

.tele-group-permissions .tele-checkbox .tele-input-label{
	width: 310px;
}

.tele-user-permissions {
	margin-top: 10px;
	float: right;
    width: 50%;
}

.tele-user-permissions .tele-checkbox{
	margin-bottom: 5px;
	margin-left: -20px;
}

.tele-user-groups-container{
	float: right;
    margin-top: 55px;
    width: 50%;
}

.tele-config-system-steps {
}

.tele-config-system-step.active .tele-config-system-step-index {
	color: white;
	background-color: #ff850b;
}

.tele-config-system-step {
	float: left;
	height: 100px;
    text-align: center;
    width: 100px;
	cursor: pointer;
}
.tele-config-system-step-index {
	width: 25px;
	height: 25px;
	padding: 10px;
	color: #222;
	background-color: #cecece;
	border-radius: 25px;
	float: left;
	margin-left: 25px;
	font-family: 'Roboto Condensed Regular';
	font-size: 25px;
	line-height: 20px;
	margin-top: 10px;
	margin-bottom: 5px;
	
}
.tele-config-system-step-label {
	width: 100px;
	
	color: #555;
    font-family: 'Roboto Condensed Regular';
    font-size: 18px;
    height: 18px;
    line-height: 18px;
	
}

.tele-config-system-step-arrow.active {
	background-color: #ff850b;
}
.tele-config-system-step-arrow {
	background-color: #cecece;
    border-radius: 5px;
    float: left;
    height: 5px;
    margin: 27px -20px 0;
    width: 40px;
}

.tele-config-system-tab {
	padding-left: 10px;
	padding-top: 10px;
}

.tele-config-system-tab.tele-config-system-mode{
	overflow: hidden;
}
.tele-config-mv2prod {
	width: 405px;
}
.tele-config-mv2prod .tele-input-label {
	width: 278px;
	margin-right: 3px;
}
.tele-config-mv2prod .tele-input-input {
	float: left;
	margin-left: -38px;
}

.tele-config-system-reports .tele-input{
	width: 350px;
}

.tele-engine-controls {
	border: 1px solid black;
	padding: 10px;
	clear: both;
	height: 112px;
	width: 320px;
	margin-top: 20px;
	float: left;
}

.tele-engine-controls .tele-title-2 {
	margin-top: 2px;
	margin-bottom: 10px;
	width: 150px;
}
.tele-config-system-tab .tele-mini-toggle {
	color: black;
	float: left;
	margin: 0px;
}

.tele-config-system-reports .tele-mini-toggle {
	margin-top: 12px;
}

.tele-config-system-reports .tele-title-syslog,
.tele-config-system-reports .tele-title-proxy {
	width: 120px;
	float: left;
}

.tele-config-system-network .tele-multi-value {
	width: 720px;
}

.tele-multi-value input.tele-ip-segment {
	width: 30px;
}

.tele-network-wrap {
	width: 670px;
	height: 32px;
	float: left;
	clear: both;
	/*margin-left: 265px;*/
}

.tele-network-idx {
	display: none;
}
.tele-network-name {
	width: 50px;
}
.tele-network-wrap .tele-input {
	clear: none;
}
.tele-network-select {
	float: left;
	margin: 9px 10px;
}
.tele-network-filter.tele-input {
	width: 350px;
}
.tele-network-filter .tele-input-input {
	width: 150px;
}
.tele-network-filter .tele-input-label {
	width: 140px;
}
.tele-network-name  .tele-input-label {
	width: 50px;
}
.tele-config-balancer-ips {

	float: left;
	clear: both;
	width: 300px;

}
.wrap-network-interfaces{
	overflow: hidden;
}

.tele-network-interfaces-wrap{
	float: left;
}

.tele-balancer-wrap{
	/*float: right;*/
}


.tele-config-balancer-headers {

	float: left;
}
.tele-search-filters {
	position: absolute;
	z-index: 999;
	padding: 10px;
	right: 180px;
    top: 70px;
	display: block;
}
.tele-search-filter .tele-input-label {
	width: 255px;
}
.tele-search-filters .tele-button {
	margin-left: 23px;
}

.tele-pattern-changing {
	float: left;
	margin-left: 20px;
}

.error {
	border-color: red;
}

.tele-scheduler {
	/*position: absolute;*/
	/*right: 10px;*/
	float: left;
	width: 700px;
	margin-bottom: 40px;
}

.tele-rule-cmd-wrap {
	clear: both;
	float: left;
	padding: 20px;
	border: 1px dashed #000;
	/*margin: 20px;*/
}

.tele-rule-cmd-list {
	margin: 5px;
}

.tele-rule-cmd-list .tele-checkbox {
	width: 400px;
	clear: both;
}

#file-upload{
	position: absolute;
	margin-left: 53%;
	width: 33%;
	padding:10px 10px 10px 10px;
	top: 350px;
}

#dragandrophandler
{

	/*border:2px dotted #0B85A1;*/
	color:#92AAB0;
	text-align:center;
	vertical-align:middle;
	padding:10px 10px 10px 10px;
	margin-bottom:10px;
	font-size:200%;
	border: 5px dotted rgb(193, 193, 193);
	border-radius: 20px;
	padding: 10px;
	/*height: 363px;*/
}

.dragandroptext{
	padding:16px;
	cursor: pointer;
}

.statusbar-container{
	height:303px;
	overflow-y: auto;
    overflow-x: hidden;
}

.progressBar {
	width: 25%;
	height: 22px;
	border: 1px solid #ddd;
	border-radius: 5px;
	overflow: hidden;
	display:inline-block;
	margin:0px 10px 5px 5px;
	vertical-align:top;
}

.progressBar div {
	height: 100%;
	color: #fff;
	text-align: right;
	line-height: 22px; /* same as #progressBar height if we want text middle aligned */
	width: 0;
	background-color: #b9e1a5;
	/*background-color: rgb(247, 147, 30);*/
	border-radius: 3px;
}
.statusbar
{
	border-top:1px solid #A9CCD1;
	min-height:25px;
	width:97%;
	padding:10px 10px 0px 10px;
	vertical-align:top;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 14px;
	color: #333333;
}
.statusbar:nth-child(odd){
	background:#EBEFF0;
}
.filename
{
	display:inline-block;
	vertical-align:top;
	width:40%;
	overflow: hidden;
}
.filesize
{
	display:inline-block;
	vertical-align:top;
	color:#30693D;
	width:15%;
	margin-left:10px;
	margin-right:5px;
}
.abort{
	/*background-color:#A8352F;*/
	background-color:#b3b3b3;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;display:inline-block;
	color:#fff;
	font-family:arial;font-size:13px;font-weight:normal;
	padding:4px 6px;
	cursor:pointer;
	vertical-align:top
}
.statusbar .error{
	overflow: hidden;
	display: inline-block;
	vertical-align: top;
	color: red;
	width: 38%;
	margin-left:6px;
}

.upload-error{
	color: red;
	margin: 5px;
}

