.flag { 
	clear: both; 
	float: left; 
	margin-right: 10px; 
	display: block; 
	height: 20px; 
	width: 20px; 
	background: transparent url("../img/flags.png") 1000px 1000px no-repeat;
}

.flag.flag-AD { background-position: 0px 0px; }
.flag.flag-AE { background-position: -20px 0px; }
.flag.flag-AF { background-position: -40px 0px; }
.flag.flag-AL { background-position: -60px 0px; }
.flag.flag-AM { background-position: -80px 0px; }
.flag.flag-AO { background-position: -100px 0px; }
.flag.flag-AR { background-position: -120px 0px; }
.flag.flag-AT { background-position: -140px 0px; }
.flag.flag-AU { background-position: -160px 0px; }
/*DUPLICATE*/
.flag.flag-AZ { background-position: -180px 0px; }

.flag.flag-BA { background-position: -200px 0px; }
.flag.flag-BB { background-position: -220px 0px; }
.flag.flag-BD { background-position: -240px 0px; }
.flag.flag-BE { background-position: -260px 0px; }
.flag.flag-BF { background-position: -280px 0px; }
.flag.flag-BG { background-position: -300px 0px; }
.flag.flag-BH { background-position: -320px 0px; }
.flag.flag-BI { background-position: -340px 0px; }
.flag.flag-BJ { background-position: -360px 0px; }
.flag.flag-BN { background-position: -380px 0px; }
.flag.flag-BO { background-position: -400px 0px; }
.flag.flag-BR { background-position: -420px 0px; }
.flag.flag-BS { background-position: -440px 0px; }
.flag.flag-BT { background-position: -460px 0px; }
.flag.flag-BW { background-position: -480px 0px; }
.flag.flag-BY { background-position: -500px 0px; }

.flag.flag-AZ { background-position: 0px -40px; }
.flag.flag-CA { background-position: -20px -40px; }
.flag.flag-CD { background-position: -40px -40px; }
.flag.flag-CF { background-position: -60px -40px; }
.flag.flag-CG { background-position: -80px -40px; }
.flag.flag-CH { background-position: -100px -40px; }
.flag.flag-CI { background-position: -120px -40px; }
.flag.flag-CL { background-position: -140px -40px; }
.flag.flag-CM { background-position: -160px -40px; }
.flag.flag-CN { background-position: -180px -40px; }
.flag.flag-CO { background-position: -200px -40px; }
.flag.flag-CR { background-position: -220px -40px; }
.flag.flag-CU { background-position: -240px -40px; }
.flag.flag-CV { background-position: -260px -40px; }
.flag.flag-CY { background-position: -280px -40px; }
.flag.flag-CZ { background-position: -300px -40px; }
.flag.flag-DE { background-position: -320px -40px; }
.flag.flag-DJ { background-position: -340px -40px; }
.flag.flag-DK { background-position: -360px -40px; }
.flag.flag-DM { background-position: -380px -40px; }
.flag.flag-DO { background-position: -400px -40px; }
.flag.flag-DZ { background-position: -420px -40px; }
.flag.flag-EC { background-position: -440px -40px; }
.flag.flag-EE { background-position: -460px -40px; }
.flag.flag-EG { background-position: -480px -40px; }
.flag.flag-EF { background-position: -500px -40px; }

.flag.flag-ES { background-position: 0px -80px; }
.flag.flag-ET { background-position: -20px -80px; }
.flag.flag-FI { background-position: -40px -80px; }
.flag.flag-FJ { background-position: -60px -80px; }
.flag.flag-FM { background-position: -80px -80px; }
.flag.flag-FR { background-position: -100px -80px; }
.flag.flag-GA { background-position: -120px -80px; }
.flag.flag-GD { background-position: -140px -80px; }
.flag.flag-GE { background-position: -160px -80px; }
.flag.flag-GH { background-position: -180px -80px; }
.flag.flag-GM { background-position: -200px -80px; }
.flag.flag-GN { background-position: -220px -80px; }
.flag.flag-GQ { background-position: -240px -80px; }
.flag.flag-GR { background-position: -260px -80px; }
.flag.flag-GT { background-position: -280px -80px; }
.flag.flag-GW { background-position: -300px -80px; }
.flag.flag-HH { background-position: -320px -80px; }
.flag.flag-HR { background-position: -340px -80px; }
.flag.flag-HT { background-position: -360px -80px; }
.flag.flag-HU { background-position: -380px -80px; }
.flag.flag-ID { background-position: -400px -80px; }
.flag.flag-IE { background-position: -420px -80px; }
.flag.flag-IL { background-position: -440px -80px; }
.flag.flag-IN { background-position: -460px -80px; }
.flag.flag-IG { background-position: -480px -80px; }
.flag.flag-IR { background-position: -500px -80px; }

.flag.flag-IS { background-position: 0px -120px; }
.flag.flag-IT { background-position: -20px -120px; }
.flag.flag-JM { background-position: -40px -120px; }
.flag.flag-JO { background-position: -60px -120px; }
.flag.flag-JP { background-position: -80px -120px; }
.flag.flag-KE { background-position: -100px -120px; }
.flag.flag-KG { background-position: -120px -120px; }
.flag.flag-KH { background-position: -140px -120px; }
.flag.flag-KI { background-position: -160px -120px; }
.flag.flag-KM { background-position: -180px -120px; }
.flag.flag-KN { background-position: -200px -120px; }
.flag.flag-KP { background-position: -220px -120px; }
.flag.flag-KR { background-position: -240px -120px; }
.flag.flag-KW { background-position: -260px -120px; }
.flag.flag-KZ { background-position: -280px -120px; }
.flag.flag-LA { background-position: -300px -120px; }
.flag.flag-LB { background-position: -320px -120px; }
.flag.flag-LI { background-position: -340px -120px; }
.flag.flag-LK { background-position: -360px -120px; }
.flag.flag-LR { background-position: -380px -120px; }
.flag.flag-LS { background-position: -400px -120px; }
.flag.flag-LT { background-position: -420px -120px; }
.flag.flag-LU { background-position: -440px -120px; }
.flag.flag-LV { background-position: -460px -120px; }
.flag.flag-LY { background-position: -480px -120px; }
.flag.flag-MA { background-position: -500px -120px; }

.flag.flag-MC { background-position: 0px -160px; }
.flag.flag-MD { background-position: -20px -160px; }
.flag.flag-ME { background-position: -40px -160px; }
.flag.flag-MG { background-position: -60px -160px; }
.flag.flag-MH { background-position: -80px -160px; }
.flag.flag-MK { background-position: -100px -160px; }
.flag.flag-ML { background-position: -120px -160px; }
.flag.flag-MM { background-position: -140px -160px; }
.flag.flag-MN { background-position: -160px -160px; }
.flag.flag-MR { background-position: -180px -160px; }
.flag.flag-MT { background-position: -200px -160px; }
.flag.flag-MU { background-position: -220px -160px; }
.flag.flag-MW { background-position: -240px -160px; }
.flag.flag-MX { background-position: -260px -160px; }
.flag.flag-MY { background-position: -280px -160px; }
.flag.flag-MZ { background-position: -300px -160px; }
.flag.flag-NA { background-position: -320px -160px; }
.flag.flag-NE { background-position: -340px -160px; }
.flag.flag-NG { background-position: -360px -160px; }
.flag.flag-NI { background-position: -380px -160px; }
.flag.flag-NL { background-position: -400px -160px; }
.flag.flag-NO { background-position: -420px -160px; }
.flag.flag-NP { background-position: -440px -160px; }
.flag.flag-NR { background-position: -460px -160px; }
.flag.flag-NZ { background-position: -480px -160px; }
.flag.flag-OM { background-position: -500px -160px; }

.flag.flag-PA { background-position: 0px -200px; }
.flag.flag-PE { background-position: -20px -200px; }
.flag.flag-PG { background-position: -40px -200px; }
.flag.flag-PH { background-position: -60px -200px; }
.flag.flag-PK { background-position: -80px -200px; }
.flag.flag-PL { background-position: -100px -200px; }
.flag.flag-PT { background-position: -120px -200px; }
.flag.flag-PW { background-position: -140px -200px; }
.flag.flag-PY { background-position: -160px -200px; }
.flag.flag-QA { background-position: -180px -200px; }
.flag.flag-RO { background-position: -200px -200px; }
.flag.flag-RS { background-position: -220px -200px; }
.flag.flag-RU { background-position: -240px -200px; }
.flag.flag-RW { background-position: -260px -200px; }
.flag.flag-SA { background-position: -280px -200px; }
.flag.flag-SB { background-position: -300px -200px; }
.flag.flag-SC { background-position: -320px -200px; }
.flag.flag-SD { background-position: -340px -200px; }
.flag.flag-SE { background-position: -360px -200px; }
.flag.flag-SG { background-position: -380px -200px; }
.flag.flag-SI { background-position: -400px -200px; }
.flag.flag-SK { background-position: -420px -200px; }
.flag.flag-SL { background-position: -440px -200px; }
.flag.flag-SM { background-position: -460px -200px; }
.flag.flag-SN { background-position: -480px -200px; }
.flag.flag-SO { background-position: -500px -200px; }

.flag.flag-SR { background-position: 0px -240px; }
.flag.flag-SS { background-position: -20px -240px; }
.flag.flag-ST { background-position: -40px -240px; }
.flag.flag-SV { background-position: -60px -240px; }
.flag.flag-SY { background-position: -80px -240px; }
.flag.flag-SZ { background-position: -100px -240px; }
.flag.flag-TD { background-position: -120px -240px; }
.flag.flag-TG { background-position: -140px -240px; }
.flag.flag-TH { background-position: -160px -240px; }
.flag.flag-TJ { background-position: -180px -240px; }
.flag.flag-TM { background-position: -200px -240px; }
.flag.flag-TN { background-position: -220px -240px; }
.flag.flag-TO { background-position: -240px -240px; }
.flag.flag-TP { background-position: -260px -240px; }
.flag.flag-TR { background-position: -280px -240px; }
.flag.flag-TT { background-position: -300px -240px; }
.flag.flag-TV { background-position: -320px -240px; }
.flag.flag-TW { background-position: -340px -240px; }
.flag.flag-TZ { background-position: -360px -240px; }
.flag.flag-UA { background-position: -380px -240px; }
.flag.flag-UG { background-position: -400px -240px; }
.flag.flag-GB,
.flag.flag-UK { background-position: -420px -240px; }
.flag.flag-US { background-position: -440px -240px; }
.flag.flag-UY { background-position: -460px -240px; }
.flag.flag-UZ { background-position: -480px -240px; }
.flag.flag-VA { background-position: -500px -240px; }

.flag.flag-VC { background-position: 0px -280px; }
.flag.flag-VD { background-position: -20px -280px; }
.flag.flag-VN { background-position: -40px -280px; }
.flag.flag-VE { background-position: -60px -280px; }
.flag.flag-VU { background-position: -80px -280px; }
.flag.flag-WL { background-position: -100px -280px; }
.flag.flag-WS { background-position: -120px -280px; }
.flag.flag-YE { background-position: -140px -280px; }
.flag.flag-ZA { background-position: -160px -280px; }
.flag.flag-ZM { background-position: -180px -280px; }
.flag.flag-ZW { background-position: -200px -280px; }

.flag.flag-AP { background-position: 0px -320px; }
.flag.flag-AQ { background-position: -20px -320px; }
.flag.flag-AS { background-position: -40px -320px; }
.flag.flag-AW { background-position: -60px -320px; }
.flag.flag-AX { background-position: -80px -320px; }
.flag.flag-BL { background-position: -100px -320px; }
.flag.flag-BM { background-position: -120px -320px; }
.flag.flag-BV { background-position: -140px -320px; }
.flag.flag-BZ { background-position: -160px -320px; }
.flag.flag-CC { background-position: -180px -320px; }
.flag.flag-CK { background-position: -200px -320px; }
.flag.flag-CW { background-position: -220px -320px; }
.flag.flag-CX { background-position: -240px -320px; }
.flag.flag-EH { background-position: -260px -320px; }
.flag.flag-ER { background-position: -280px -320px; }
.flag.flag-EU { background-position: -300px -320px; }
.flag.flag-FK { background-position: -320px -320px; }
.flag.flag-FO { background-position: -340px -320px; }
.flag.flag-GB { background-position: -360px -320px; }
.flag.flag-GF { background-position: -380px -320px; }
.flag.flag-GG { background-position: -400px -320px; }
.flag.flag-GI { background-position: -420px -320px; }
.flag.flag-GL { background-position: -440px -320px; }
.flag.flag-GP { background-position: -460px -320px; }
.flag.flag-GS { background-position: -480px -320px; }
.flag.flag-GU { background-position: -500px -320px; }

.flag.flag-GY { background-position: 0px -360px; }
.flag.flag-HK { background-position: -20px -360px; }
.flag.flag-HN { background-position: -40px -360px; }
.flag.flag-IM { background-position: -60px -360px; }
.flag.flag-IO { background-position: -80px -360px; }
.flag.flag-IQ { background-position: -100px -360px; }
.flag.flag-JE { background-position: -120px -360px; }
.flag.flag-KY { background-position: -140px -360px; }
.flag.flag-LC { background-position: -160px -360px; }
.flag.flag-MF { background-position: -180px -360px; }
.flag.flag-MO { background-position: -200px -360px; }
.flag.flag-MP { background-position: -220px -360px; }
.flag.flag-MQ { background-position: -240px -360px; }
.flag.flag-MS { background-position: -260px -360px; }
.flag.flag-MV { background-position: -280px -360px; }
.flag.flag-NC { background-position: -300px -360px; }
.flag.flag-NU { background-position: -320px -360px; }
.flag.flag-PF { background-position: -340px -360px; }
.flag.flag-PM { background-position: -360px -360px; }
.flag.flag-PN { background-position: -380px -360px; }
.flag.flag-PR { background-position: -400px -360px; }
.flag.flag-PS { background-position: -420px -360px; }
.flag.flag-RE { background-position: -440px -360px; }
.flag.flag-SH { background-position: -460px -360px; }
.flag.flag-ST { background-position: -480px -360px; }
.flag.flag-SX { background-position: -500px -360px; }

.flag.flag-TC { background-position: 0px -400px; }
.flag.flag-TK { background-position: -20px -400px; }
.flag.flag-TL { background-position: -40px -400px; }
.flag.flag-VC { background-position: -60px -400px; }
.flag.flag-WF { background-position: -80px -400px; }
.flag.flag-YT { background-position: -100px -400px; }
