body { background-color: #bebebe; }

.tele-icon { background-image: url("img/icon_map.png"); }

.tele-icon-dashboard { 
	height: 64px;
	width: 64px;
	background-position: -0px -0px;
}
.tele-icon-dashboard.hover { 
	height: 64px;
	width: 64px;
	background-position: -64px -0px;
}
.tele-icon-dashboard.click { 
	height: 64px;
	width: 64px;
	background-position: -128px -0px;
}
.tele-icon-dashboard.active { 
	height: 64px;
	width: 64px;
	background-position: -192px -0px;
}
.tele-icon-cases { 
	height: 64px;
	width: 64px;
	background-position: -0px -64px;
}
.tele-icon-cases.hover { 
	height: 64px;
	width: 64px;
	background-position: -64px -64px;
}
.tele-icon-cases.click { 
	height: 64px;
	width: 64px;
	background-position: -128px -64px;
}
.tele-icon-cases.active { 
	height: 64px;
	width: 64px;
	background-position: -192px -64px;
}
.tele-icon-alerts { 
	height: 64px;
	width: 64px;
	background-position: -0px -128px;
}
.tele-icon-alerts.hover { 
	height: 64px;
	width: 64px;
	background-position: -64px -128px;
}
.tele-icon-alerts.click { 
	height: 64px;
	width: 64px;
	background-position: -128px -128px;
}
.tele-icon-alerts.active { 
	height: 64px;
	width: 64px;
	background-position: -192px -128px;
}
.tele-icon-suspects { 
	height: 64px;
	width: 64px;
	background-position: -0px -192px;
}
.tele-icon-suspects.hover { 
	height: 64px;
	width: 64px;
	background-position: -64px -192px;
}
.tele-icon-suspects.click { 
	height: 64px;
	width: 64px;
	background-position: -128px -192px;
}
.tele-icon-suspects.active { 
	height: 64px;
	width: 64px;
	background-position: -192px -192px;
}
.tele-icon-reports { 
	height: 64px;
	width: 64px;
	background-position: -0px -256px;
}
.tele-icon-reports.hover { 
	height: 64px;
	width: 64px;
	background-position: -64px -256px;
}
.tele-icon-reports.click { 
	height: 64px;
	width: 64px;
	background-position: -128px -256px;
}
.tele-icon-reports.active { 
	height: 64px;
	width: 64px;
	background-position: -192px -256px;
}
.tele-icon-refresh { 
	height: 30px;
	width: 30px;
	background-position: -297px -30px;
}
.tele-icon-refresh.hover { 
	height: 30px;
	width: 30px;
	background-position: -327px -30px;
}
.tele-icon-refresh.click { 
	height: 30px;
	width: 30px;
	background-position: -357px -30px;
}
.tele-icon-applications { 
	height: 30px;
	width: 30px;
	background-position: -297px -60px;
}
.tele-icon-applications.hover { 
	height: 30px;
	width: 30px;
	background-position: -327px -60px;
}
.tele-icon-applications.click { 
	height: 30px;
	width: 30px;
	background-position: -357px -60px;
}
.tele-icon-date { 
	height: 30px;
	width: 30px;
	background-position: -297px -90px;
}
.tele-icon-date.hover { 
	height: 30px;
	width: 30px;
	background-position: -327px -90px;
}
.tele-icon-date.click { 
	height: 30px;
	width: 30px;
	background-position: -357px -90px;
}
.tele-icon-archive { 
	height: 30px;
	width: 30px;
	background-position: -297px -120px;
}
.tele-icon-archive.hover { 
	height: 30px;
	width: 30px;
	background-position: -327px -120px;
}
.tele-icon-archive.click { 
	height: 30px;
	width: 30px;
	background-position: -357px -120px;
}
.tele-icon-moveTo { 
	height: 30px;
	width: 30px;
	background-position: -297px -150px;
}
.tele-icon-moveTo.hover { 
	height: 30px;
	width: 30px;
	background-position: -327px -150px;
}
.tele-icon-moveTo.click { 
	height: 30px;
	width: 30px;
	background-position: -357px -150px;
}
.tele-icon-gauge { 
	height: 30px;
	width: 30px;
	background-position: -297px -180px;
}
.tele-icon-gauge.hover { 
	height: 30px;
	width: 30px;
	background-position: -327px -180px;
}
.tele-icon-gauge.click { 
	height: 30px;
	width: 30px;
	background-position: -357px -180px;
}
.tele-icon-bars { 
	height: 30px;
	width: 30px;
	background-position: -297px -210px;
}
.tele-icon-bars.hover { 
	height: 30px;
	width: 30px;
	background-position: -327px -210px;
}
.tele-icon-bars.click { 
	height: 30px;
	width: 30px;
	background-position: -357px -210px;
}
.tele-icon-alert { 
	height: 30px;
	width: 30px;
	background-position: -297px -240px;
}
.tele-icon-alert.hover { 
	height: 30px;
	width: 30px;
	background-position: -327px -240px;
}
.tele-icon-alert.click { 
	height: 30px;
	width: 30px;
	background-position: -357px -240px;
}
.tele-icon-close { 
	height: 30px;
	width: 30px;
	background-position: -297px -270px;
}
.tele-icon-close.hover { 
	height: 30px;
	width: 30px;
	background-position: -327px -270px;
}
.tele-icon-close.click { 
	height: 30px;
	width: 30px;
	background-position: -357px -270px;
}
.tele-icon-case { 
	height: 30px;
	width: 30px;
	background-position: -297px -300px;
}
.tele-icon-case.hover { 
	height: 30px;
	width: 30px;
	background-position: -327px -300px;
}
.tele-icon-case.click { 
	height: 30px;
	width: 30px;
	background-position: -357px -300px;
}
.tele-icon-snooze { 
	height: 30px;
	width: 30px;
	background-position: -297px -330px;
}
.tele-icon-snooze.hover { 
	height: 30px;
	width: 30px;
	background-position: -327px -330px;
}
.tele-icon-snooze.click { 
	height: 30px;
	width: 30px;
	background-position: -357px -330px;
}
.tele-icon-workflow { 
	height: 30px;
	width: 30px;
	background-position: -297px -360px;
}
.tele-icon-workflow.hover { 
	height: 30px;
	width: 30px;
	background-position: -327px -360px;
}
.tele-icon-workflow.click { 
	height: 30px;
	width: 30px;
	background-position: -357px -360px;
}
.tele-icon-cancel { 
	height: 30px;
	width: 30px;
	background-position: -297px -390px;
}
.tele-icon-cancel.hover { 
	height: 30px;
	width: 30px;
	background-position: -327px -390px;
}
.tele-icon-cancel.click { 
	height: 30px;
	width: 30px;
	background-position: -357px -390px;
}
.tele-icon-search { 
	height: 30px;
	width: 30px;
	background-position: -297px -420px;
}
.tele-icon-search.hover { 
	height: 30px;
	width: 30px;
	background-position: -327px -420px;
}
.tele-icon-search.click { 
	height: 30px;
	width: 30px;
	background-position: -357px -420px;
}
.tele-icon-search2 { 
	height: 30px;
	width: 30px;
	background-position: -297px -450px;
}
.tele-icon-search2.hover { 
	height: 30px;
	width: 30px;
	background-position: -327px -450px;
}
.tele-icon-search2.click { 
	height: 30px;
	width: 30px;
	background-position: -357px -450px;
}
.tele-icon-harmful { 
	height: 30px;
	width: 30px;
	background-position: -297px -480px;
}
.tele-icon-harmful.hover { 
	height: 30px;
	width: 30px;
	background-position: -327px -480px;
}
.tele-icon-harmful.click { 
	height: 30px;
	width: 30px;
	background-position: -357px -480px;
}
.tele-icon-safe { 
	height: 30px;
	width: 30px;
	background-position: -297px -510px;
}
.tele-icon-safe.hover { 
	height: 30px;
	width: 30px;
	background-position: -327px -510px;
}
.tele-icon-safe.click { 
	height: 30px;
	width: 30px;
	background-position: -357px -510px;
}
.tele-icon-notification { 
	height: 30px;
	width: 30px;
	background-position: -297px -540px;
}
.tele-icon-notification.hover { 
	height: 30px;
	width: 30px;
	background-position: -327px -540px;
}
.tele-icon-notification.click { 
	height: 30px;
	width: 30px;
	background-position: -357px -540px;
}
.tele-icon-settings { 
	height: 30px;
	width: 30px;
	background-position: -297px -570px;
}
.tele-icon-settings.hover { 
	height: 30px;
	width: 30px;
	background-position: -327px -570px;
}
.tele-icon-settings.click { 
	height: 30px;
	width: 30px;
	background-position: -357px -570px;
}
.tele-icon-checkbox { 
	height: 30px;
	width: 30px;
	background-position: -297px -630px;
}
.tele-icon-checkbox.click { 
	height: 30px;
	width: 30px;
	background-position: -327px -630px;
}
.tele-icon-checkbox2 { 
	height: 30px;
	width: 30px;
	background-position: -297px -660px;
}
.tele-icon-checkbox2.click { 
	height: 30px;
	width: 30px;
	background-position: -327px -660px;
}
.tele-icon-favorite { 
	height: 30px;
	width: 30px;
	background-position: -297px -690px;
}
.tele-icon-favorite.click { 
	height: 30px;
	width: 30px;
	background-position: -327px -690px;
}
.tele-icon-dropdown { 
	height: 30px;
	width: 30px;
	background-position: -297px -720px;
}
.tele-icon-dropdown.hover { 
	height: 30px;
	width: 30px;
	background-position: -327px -720px;
}
.tele-icon-dropdown.click { 
	height: 30px;
	width: 30px;
	background-position: -357px -720px;
}
.tele-icon-plus { 
	height: 30px;
	width: 30px;
	background-position: -420px -0px;
}
.tele-icon-plus.hover { 
	height: 30px;
	width: 30px;
	background-position: -450px -0px;
}
.tele-icon-plus.click { 
	height: 30px;
	width: 30px;
	background-position: -480px -0px;
}
.tele-icon-less { 
	height: 30px;
	width: 30px;
	background-position: -420px -30px;
}
.tele-icon-less.hover { 
	height: 30px;
	width: 30px;
	background-position: -450px -30px;
}
.tele-icon-less.click { 
	height: 30px;
	width: 30px;
	background-position: -480px -30px;
}
.tele-icon-more { 
	height: 30px;
	width: 30px;
	background-position: -420px -60px;
}
.tele-icon-more.hover { 
	height: 30px;
	width: 30px;
	background-position: -450px -60px;
}
.tele-icon-more.click { 
	height: 30px;
	width: 30px;
	background-position: -480px -60px;
}
.tele-icon-accounts { 
	height: 30px;
	width: 30px;
	background-position: -420px -120px;
}
.tele-icon-accounts.hover { 
	height: 30px;
	width: 30px;
	background-position: -450px -120px;
}
.tele-icon-accounts.click { 
	height: 30px;
	width: 30px;
	background-position: -480px -120px;
}
.tele-icon-notifications { 
	height: 30px;
	width: 30px;
	background-position: -420px -150px;
}
.tele-icon-notifications.hover { 
	height: 30px;
	width: 30px;
	background-position: -450px -150px;
}
.tele-icon-notifications.click { 
	height: 30px;
	width: 30px;
	background-position: -480px -150px;
}
.tele-icon-applications { 
	height: 30px;
	width: 30px;
	background-position: -420px -180px;
}
.tele-icon-applications.hover { 
	height: 30px;
	width: 30px;
	background-position: -450px -180px;
}
.tele-icon-applications.click { 
	height: 30px;
	width: 30px;
	background-position: -480px -180px;
}
.tele-icon-settings { 
	height: 30px;
	width: 30px;
	background-position: -420px -210px;
}
.tele-icon-settings.hover { 
	height: 30px;
	width: 30px;
	background-position: -450px -210px;
}
.tele-icon-settings.click { 
	height: 30px;
	width: 30px;
	background-position: -480px -210px;
}
.tele-icon-actions { 
	height: 30px;
	width: 30px;
	background-position: -420px -240px;
}
.tele-icon-actions.hover { 
	height: 30px;
	width: 30px;
	background-position: -450px -240px;
}
.tele-icon-actions.click { 
	height: 30px;
	width: 30px;
	background-position: -480px -240px;
}
.tele-icon-users { 
	height: 30px;
	width: 30px;
	background-position: -420px -270px;
}
.tele-icon-users.hover { 
	height: 30px;
	width: 30px;
	background-position: -450px -270px;
}
.tele-icon-users.click { 
	height: 30px;
	width: 30px;
	background-position: -480px -270px;
}
.tele-icon-advanced { 
	height: 30px;
	width: 30px;
	background-position: -420px -300px;
}
.tele-icon-advanced.hover { 
	height: 30px;
	width: 30px;
	background-position: -450px -300px;
}
.tele-icon-advanced.click { 
	height: 30px;
	width: 30px;
	background-position: -480px -300px;
}
.tele-icon-export { 
	height: 30px;
	width: 30px;
	background-position: -420px -330px;
}
.tele-icon-export.hover { 
	height: 30px;
	width: 30px;
	background-position: -450px -330px;
}
.tele-icon-export.click { 
	height: 30px;
	width: 30px;
	background-position: -480px -330px;
}
.tele-icon-edit { 
	height: 30px;
	width: 30px;
	background-position: -420px -360px;
}
.tele-icon-edit.hover { 
	height: 30px;
	width: 30px;
	background-position: -450px -360px;
}
.tele-icon-edit.click { 
	height: 30px;
	width: 30px;
	background-position: -480px -360px;
}
.tele-icon-plus { 
	height: 30px;
	width: 30px;
	background-position: -420px -420px;
}
.tele-icon-plus.hover { 
	height: 30px;
	width: 30px;
	background-position: -450px -420px;
}
.tele-icon-plus.click { 
	height: 30px;
	width: 30px;
	background-position: -480px -420px;
}
.tele-icon-minus { 
	height: 30px;
	width: 30px;
	background-position: -420px -450px;
}
.tele-icon-minus.hover { 
	height: 30px;
	width: 30px;
	background-position: -450px -450px;
}
.tele-icon-minus.click { 
	height: 30px;
	width: 30px;
	background-position: -480px -450px;
}
.tele-icon-check { 
	height: 30px;
	width: 30px;
	background-position: -420px -480px;
}
.tele-icon-check.hover { 
	height: 30px;
	width: 30px;
	background-position: -450px -480px;
}
.tele-icon-check.click { 
	height: 30px;
	width: 30px;
	background-position: -480px -480px;
}
.tele-icon-portion { 
	height: 30px;
	width: 30px;
	background-position: -420px -540px;
}
.tele-icon-portion.hover { 
	height: 30px;
	width: 30px;
	background-position: -450px -540px;
}
.tele-icon-portion.click { 
	height: 30px;
	width: 30px;
	background-position: -480px -540px;
}
.tele-icon-favorite { 
	height: 30px;
	width: 30px;
	background-position: -420px -570px;
}
.tele-icon-favorite.click { 
	height: 30px;
	width: 30px;
	background-position: -450px -570px;
}
.tele-icon-name { 
	height: 30px;
	width: 30px;
	background-position: -420px -600px;
}
.tele-icon-name.hover { 
	height: 30px;
	width: 30px;
	background-position: -450px -600px;
}
.tele-icon-name.click { 
	height: 30px;
	width: 30px;
	background-position: -480px -600px;
}
.tele-icon-close { 
	height: 30px;
	width: 30px;
	background-position: -420px -630px;
}
.tele-icon-close.hover { 
	height: 30px;
	width: 30px;
	background-position: -450px -630px;
}
.tele-icon-close.click { 
	height: 30px;
	width: 30px;
	background-position: -480px -630px;
}
