.tele-loader {
	  background: transparent url('../img/loader.gif') 50% 0% no-repeat;
	  width: 100%;
	  text-align: center;
	  padding: 0px 0px 20px 0px;
	  height: 55px;
}

.tele-panel-search .tele-loader{
	position: absolute;
	top: 130px;
}

body {
	background-color: rgb(214,214,214);
}
td { 
    padding: 5px;
}
@font-face {
  font-family: 'Roboto Condensed Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(Zd2E9abXLFGSr9G3YK2MsFzqCfRpIA3W6ypxnPISCPA.woff) format('woff');
}

  .axisLabels {
    font-size: 12px;
  }
  .yaxisLabel {
    color: rgb(255, 0, 0);
  }
  .y2axisLabel {
    color: rgb(0, 255, 0);
  }
  .y3axisLabel {
    color: rgb(0, 0, 255);
  }
  .y4axisLabel {
    color: rgb(0, 255, 255);
  }
  

/* TODO:: Standartalize typography */

.tele-title-1 {
	clear: both;
	margin: 10px 0px 25px 0px;
	font-size: 20px;
	float: left;
	color: #333;
	font-family: 'Roboto Condensed Regular';
}

.tele-title-2 {
	clear: both;
	margin: 10px 0px 20px 0px;
	font-size: 17px;
	float: left;
	color: #333;
}


.tele-body {
	/*font-family: sans-serif;*/
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 14px;
	color: #333333;
	background-color: rgb(214,214,214);
}
.tele-header {
	height: 70px;
	padding: 10px 0px;
	background-color: white;
}
.tele-header-right {
	float: right;
	margin-top: 17px;
}
.tele-logo {
	height: 60px;
	width: 200px;
	float: left;
	margin-top: 8px;
	margin-left: 10px;
}

/* MAIN NAVIGATION */

.tele-navsep {
	float: left;
	margin-top: 10px;
	width: 1px;
	height: 25px;
	background-color: white;
	border-right: 1px solid #AAA;
	border-left: 1px solid #AAA;
}

.tele-nav {
	float: left;
}
.tele-nav li {
	height: 80px;
	width: 60px;
	float: left;
	margin: 0px 15px;
}

.tele-nav li a {
	width: 60px;
	height: 80px;
	display: block;
	text-decoration: none;
	font-size: 15px;
	text-align: center;
	color: #333;
}
.tele-nav li a:visited {
	color: #333;
}

/* Search */
.tele-search-top {
	float: left;
	margin-right: 25px;
}
.tele-search-top input {
	float: left;
	width: 200px;
	border: none;
	border-radius: 20px;
	background-color: #ccc;
	padding: 5px 75px 5px 20px;
	font-size: 15px;
	font-weight: bold;
	margin: 4px;
	height: 19px
}
.tele-search-top a.tele-search-icon {
	background: url("../img/icon_map.png") no-repeat scroll -298px -416px rgba(0, 0, 0, 0);
	height: 32px;
	width: 30px;
	border: none;
	font-size: 0px;
	line-height: 0px;
	margin-left: -75px;
	margin-top: 3px;
	display: block;
	float: left;
}
.tele-search-top a.tele-search-icon:hover {
	background-position: -329px -416px;
}
.tele-search-top a.tele-search-dropdown {
	background: url("../img/icons.png") no-repeat scroll -320px -906px #999999;
	height: 29px;
	width: 38px;
	border: none;
	font-size: 0px;
	line-height: 0px;
	margin-left: -30px;
	background-color: #999;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	display: block;
	float: left;
	margin-top: 4px;
}
.tele-search-top a.tele-search-dropdown:hover {
	background-position: -395px -906px;
}

.tele-config {
	float: left;
}

.tele-logout {
	float: left;
	padding: 10px;
	color: #555;
	text-decoration: none;
}
.tele-logout:hover {
	color: black;
}

/* Notifications */
.tele-notify { 
	float: left;
	margin-right: 20px;
	position: relative;
	cursor: pointer;
}
.tele-notify a {
	background: url("../img/icon_map.png") no-repeat scroll -294px -533px rgba(0, 0, 0, 0);
	height: 36px;
	width: 36px;
	display: block;
	font-size: 0px;
	text-decoration: none;
}

.tele-notify .tele-notify-count {
	float: left;
	padding: 5px;
	border-radius: 20px;
	min-width: 15px;
	text-align: center;
	background-color: #ff5f5f;
	color: white;
	position: absolute;
	top: -7px;
	left: 20px;
}

.tele-notify a:hover {
	background-position: -324px -533px;
}

/* Content */
.tele-content {
	background-color: rgb(214,214,214);
}
.tele-panel-topbar {
	background-color: #222222;
	height: 45px;
	overflow: hidden;
}
.tele-panel-topbar .tele-button {
	color: white;
	/*margin: 5px 30px 0px 30px;*/
	float: left;
}
.tele-panel-topbar .tele-checkbox {
	color: white;
	margin: 5px 0px 0px 15px;
	float: left;
}

.tele-multi-input {
	float: left;
}

/* Dashboard sort radios */
.tele-panel-dashboard .tele-panel-topbar .tele-radios {
  margin-top: 6px;
  margin-right: 13px;
}

.tele-panel-topbar a,
.tele-panel-topbar a:visited {
	color: white;
	text-decoration: none;
}
.tele-panel-topbar-right {
	float: right;
}
.tele-panel-title {
	float: left;
	color: white;
	margin: 9px 10px 3px 20px;
	font-size: 25px;
}
.tele-panel-subtitle {
	background-color: #333333;
	height: 45px;
}
.tele-panel-subtitle .tele-panel-subtitle-right, .tele-panel-subtitle .tele-panel-subtitle-left{
	color:white;
}
.tele-panel-subtitle-text {
	float: left;
	color: white;
	margin: 10px 20px;
	font-size: 20px;
}
.tele-panel-subtitle-right {
	float: right;
}

/* Toggle Component */
.tele-mini-toggle {
	/*color: white;*/
	margin-top: 10px;
	margin-bottom: 10px;
}
.tele-mini-toggle-left,
.tele-mini-toggle-middle,
.tele-mini-toggle-right {
	float: left;
	margin: 0px 5px;
}
.tele-mini-toggle-left,
.tele-mini-toggle-right {
	margin-top: 5px;
}

.tele-ip-group-wrap .tele-mini-toggle{
	color: #555;
}

.tele-config-content-right .tele-limit-ranges .tele-ip-wrap .tele-mini-toggle .tele-mini-toggle-left{
	color: #555;
}

.tele-config-content-right .tele-limit-ranges .tele-ip-wrap .tele-mini-toggle .tele-mini-toggle-right{
	color: #555;
}

.tele-mini-toggle-middle {
	background-color: #999;
	width: 40px;
	border-radius: 15px;
	height: 20px;
	padding: 2px;
}
.tele-mini-toggle-knob {
	height: 20px;
	width: 20px;
	border-radius: 10px;
	background-color: #b9e1a5;
	display: block;
	text-decoration: none;
}
/* Dashboard */

/* Dashboard - Date Range */

.tele-daterange {
	margin-top: 5px;
	float: left;
}
.tele-daterange .tele-button .tele-button-text  {
	margin-top: 5px;
}

/* Dashboard - Refresh */
.tele-panel-dashboard-refresh {
	margin-top: 15px;
	margin-right: 24px;
	padding-left: 20px;
	height: 20px;
	float: left;
}
a.tele-panel-dashboard-refresh-button {
	background: url("../img/icons.png") no-repeat scroll -324px -58px rgba(0, 0, 0, 0);
	height: 32px;
	width: 32px;
	display: block;
	font-size: 0px;
	float: right;
	margin-top: -5px;
	margin-left: 15px;
}
a.tele-panel-dashboard-refresh-button:hover {
	background-position: -362px -58px;
}
a.tele-panel-dashboard-refresh-button.loader {
	background: transparent url("../img/loader_small.gif") 4px 0 no-repeat;
}
a.tele-panel-dashboard-refresh-button.loader:hover {
	background-position: 4px 0;
}

a.tele-panel-dashboard-refresh-text {
	float: left;
	cursor: default;
}
a.tele-panel-dashboard-refresh-value {
	float: left;
	margin-left: 15px;
	width: 30px;
}
a.tele-panel-dashboard-refresh-value:hover {
	color: #999;
}

.tele-panel-dashboard .tele-graph-realtime {
	display: none;
}

.tele-panel-dashboard .tele-graph, .tele-panel-dashboard .tele-graph-realtime {
	height: 425px;
	background-color: #304f68;
	width: 67%;
	float: left;
}

.tele-panel-alerts .tele-graph {
	/*width: 100%;*/
}

#alert-distribution-legend{
	margin-top: 50px;
	width: 100%;
	float: left;
	margin-left: 18px;
}

/*.tele-graph-canvas .legend table{
	top: 120px;
}*/
.tele-panel-dashboard  .tele-graph-canvas-outer {
	padding: 20px;
	height: 200px;
	clear: left;
}
.tele-graph-canvas {
	height: 100%;
	width: 100%;
}

.tele-panel-dashboard .tele-mini-toggle {
	margin-right: 22px;
	float: left;
}

.tele-panel-dashboard .tele-map {
	float: right;
	height: 425px;
	width: 33%;
	background-color: #304F68;
}

.tele-scale-wrap {
	position: absolute;
	bottom: 20px;
	left: 10px;
}
.tele-scale-left {
	color: white;
	float: left;
}
.tele-scale-right {
	color: white;
	float: left;
	margin-left: 10px;
}
.tele-scale-grad {
	width: 200px;
	height: 15px;
	float: left;
	margin-left: 10px;
	/* Our Colors :: '#C4E8B2', '#60BB3C' */
	background: #C4E8B2;
	background: -moz-linear-gradient(top, #C4E8B2 0%, #60BB3C 100%);
	background: -webkit-gradient(linear, left, right, color-stop(0%,#C4E8B2), color-stop(100%,#60BB3C));
	background: -webkit-linear-gradient(left, #C4E8B2 0%,#60BB3C 100%);
	background: -o-linear-gradient(left, #C4E8B2 0%,#60BB3C 100%);
	background: -ms-linear-gradient(left, #C4E8B2 0%,#60BB3C 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C4E8B2', endColorstr='#60BB3C',GradientType=0 );
	background: linear-gradient(left, #C4E8B2 0%,#60BB3C 100%);
}

.tele-dashboard-graph-filters {
	color: #999;
	margin-top: 20px;
}

.tele-dashboard-graph-filter {
	float: left;
	width: 200px;
	margin-left: 20px;
	margin-right: 50px;
	margin-top: 20px;
}
.tele-graph-filter-toggle {
	background: transparent url("../img/icons.png") no-repeat scroll -327px -842px;
	height: 20px;
	width: 20px;
	float: left;
	border: 1px solid #cecece;
	background-color: white;
	font-size: 0px;
	text-decoration: none;
	border-radius: 20px;
}
.tele-graph-filter-toggle.active {
	background: transparent url("../img/icons.png") no-repeat scroll -365px -843px;
}

.tele-graph-filter-title {
	font-size: 20px;
	color: white;
}
.tele-graph-filter-title,
.tele-graph-filter-percent,
.tele-graph-filter-count {
	float: right;
	text-align: right;
	clear: right;
}
.tele-graph-filter-percent {
	clear: left;
}
.tele-graph-filter-title {
	float: left;
	margin-left: 10px;
	margin-bottom: 10px;
}

.tele-graph-filter-percent {
	font-weight: bold;
	font-size: 30px;
}
.tele-graph-filter-case-alerts .tele-graph-filter-percent { color: #ff850b; }
.tele-graph-filter-noncase-alerts .tele-graph-filter-percent { color: #64a5bc; }
.tele-graph-filter-suspicions .tele-graph-filter-percent { color: #6ab789; }
.tele-graph-filter-other-sessions .tele-graph-filter-percent { color: #986da0; }

.tele-dashboard-block .tele-listitem-info {
	width: 80%;
}

.tele-dashboard-block {
	float: left;
	width: 33%;
	color: #333333;
}
.tele-block-title {
	padding: 10px 20px;
	font-size: 22px;
	font-weight: bold;
}

.tele-graph-title {
	float: left;
	color: #cccccc;
	margin: 30px 20px 0px 20px;
	font-size: 18px;
}

.tele-map {
	background-color: #304F68;
	position: relative;
}

/* Popup with a slider / calendar */
.ui-datepicker-calendar,
.ui-datepicker-title {
	font-family: 'Roboto Condensed', sans-serif;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
	width: 200px;
	margin-right: 15px;
}
.tele-popup .ui-widget-content {
	max-width: 430px;
}

.tele-popup { 
	
	font-family: 'Roboto Condensed', sans-serif;

	display: none; 
	position: absolute;
	z-index: 100;
	padding: 10px;

	border: 5px solid rgba(0,0,0,0.3);
	
  background-color: #ffffff;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 10px;
	  
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	  
  white-space: normal;
	
}

.tele-dd-popup {
	position: relative;
	left: -7px;
	top: 30px;
	border: 2px solid rgba(0,0,0,0.3);
}


.tele-popup a {
	color: #555;
}

.tele-popup .tele-daterange-calendar {
	width: 420px;
	padding-top: 10px;
	clear: both;
}

.tele-popup .ui-state-default {
	border-radius: 15px;
	min-width: 15px;
	text-align: center;
	color: #555555;
	border-color: #cccccc;
	font-weight: normal;
}
.tele-popup .dp-highlight .ui-state-default {
    background: #ff850b;
    color: #FFF;
}
.tele-popup .ui-widget-header {
	background: transparent;
	background-image: none;
	color: #555555;
	border: none;
}
.tele-popup .ui-datepicker-title {
	font-weight: normal;
	font-size: 19px;
	color: #111111;
}

.tele-popup .ui-widget-content {
	background: transparent;
	background-image: none;
	border: none;
	clear: both;
	max-width: 450px;
	padding: 0px;
	margin: 0px;
}
.tele-popup .ui-datepicker-calendar thead span {
	font-weight: normal;
}

.tele-daterange-range-span {
	float: left;
	padding: 7px 12px 0px 12px;
}

.tele-daterange-from,
.tele-daterange-to {
	padding: 6px 15px;
	border-radius: 20px;
	float: left;
	width: 85px;
	border: 2px solid #cecece;
}

.tele-daterange-from-hour,
.tele-daterange-to-hour {
	padding: 6px 15px;
	border-radius: 20px;
	float: left;
	width: 38px;
	border: 2px solid #cecece;
}

.tele-popup .ui-datepicker .ui-datepicker-prev span, .tele-popup .ui-datepicker .ui-datepicker-next span {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -10px;
	top: 50%;
	margin-top: -15px;
	height: 40px;
	width: 20px;
	cursor: pointer;
}
.tele-popup .ui-datepicker .ui-datepicker-prev span {
	background: transparent url("../img/icons.png") no-repeat scroll  -10px -544px;
}
.tele-popup .ui-datepicker .ui-datepicker-next span {
	background: transparent url("../img/icons.png") no-repeat scroll  -35px -544px;
}

.tele-popup .ui-datepicker .ui-datepicker-prev-hover, .tele-popup .ui-datepicker .ui-datepicker-next-hover {
	border: 1px solid white;
	background: transparent;
	background-image: none;
}


.tele-popup.tele-daterange-popup h2 {
	padding: 5px 0px;
	color: #555555;
	font-size: 20px;
	font-weight: normal;
	clear: both;
	padding-bottom: 15px;
}

.disabled{
	pointer-events: none;
	cursor: default;
	opacity: 0.5;
}

.tele-daterange-period {
	padding: 10px 0px;
	height: 30px;
}

.tele-daterange-period li {
	float: left;
	list-style: none;
	margin-right: 8px;
}

.tele-daterange-period li:last-child{
	margin-right:0px;
}

.tele-daterange-period li a {
	background-color: #efefef;
	padding: 7px 3px;
	color: #555;
	text-decoration: none;
	font-size: 18px;
	border-radius: 20px;
	width: 47px;
	display: block;
	text-align: center;
}

.tele-daterange-period li a:hover,
.tele-daterange-period li a.active {
	color: #efefef;
	background: #555;
}

.tele-daterange-buttons {
	margin: 15px 0px 0px 96px;
	height: 40px;
}
.tele-daterange-buttons .tele-button {
	padding: 10px 25px;
	border-radius: 5px;
	color: white;
	margin: 0px 10px;
	display: block;
	float: left;
	text-decoration: none;
}

.tele-button-apply:hover {
	background-color: #CE7720;
}

.tele-button-apply {
	
	margin-top: 30px;
	-moz-box-shadow:inset 0px -4px 0px 0px #dd7d1d;
	-webkit-box-shadow:inset 0px -4px 0px 0px #dd7d1d;
	box-shadow:inset 0px -4px 0px 0px #dd7d1d;
	background-color:#f7931e;
	
	border-radius: 5px;
	text-indent:0;
	display:inline-block;
	color:#ffffff !important;
	font-family:Arial;
	font-size:17px;
	font-weight:normal;
	font-style:normal;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #dd7d1d;
	padding: 15px 35px;
	cursor: pointer;
	
}

.tele-button-cancel:hover {
	background-color: #999999;
}

.tele-button-cancel {

	margin-top: 30px;
	
	-moz-box-shadow:inset 0px -4px 0px 0px rgba(128, 128, 128, 1);
	-webkit-box-shadow:inset 0px -4px 0px 0px rgba(128, 128, 128, 1);
	box-shadow:inset 0px -4px 0px 0px rgba(128, 128, 128, 1);
	background-color:#b3b3b3;
	border-radius: 5px;
	text-indent:0;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:normal;
	font-style:normal;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #b3b3b3;
	padding: 15px 35px;
	cursor: pointer;
}

/* Refresh Rate Slider Popup */

.tele-refreshrate-popup {
	width: 200px;
}
.tele-popup.tele-refreshrate-popup .ui-widget-content {
	background: #f4f4f4;
}
.tele-popup.tele-refreshrate-popup .ui-slider-range {
	background: #ff9900;
}
.tele-popup.tele-refreshrate-popup .ui-slider-horizontal {
	height: 10px;
}
.tele-popup.tele-refreshrate-popup .ui-slider-handle {
	background: #555555;
	height: 25px;
	width: 10px;
	margin-top: -3px;
}

.tele-popup .tele-button-container .tele-button  {
	margin: 0px;
}

.tele-popup .tele-multi-input {
	float: left;
}


/* Alerts Panel */
.tele-panel-alerts .tele-alerts-block {
	/*width: 70%;*/
	float: left;
	clear: both;
}
.tele-panel-alerts .tele-alert-graphs-block {
	/*width: 30%;*/
	float: left;
	background: white;
}
.tele-panel-alerts .tele-alert-graphs-block h2 {
	padding: 5px 15px 15px 15px;
	color: #555555;
	font-size: 20px;
	font-weight: normal;
	clear: both;
}

.tele-panel-alerts  .tele-alert-graphs-block .tele-mini-toggle {
	padding: 0px 10px;
	margin-top: -5px;
	height: 22px;
}

.tele-panel-alerts  .tele-alert-graphs-block .tele-mini-toggle-left,
.tele-panel-alerts  .tele-alert-graphs-block .tele-mini-toggle-right {
	color: #999999;
	font-weight: normal;
	font-size: 15px;
}
.tele-panel-alerts  .tele-alert-graphs-block .tele-mini-toggle-middle {
	background: #ccc;
}
.tele-panel-alerts  .tele-alert-graphs-block .tele-mini-toggle-knob {
	background: #999;
}


.tele-alert-graph-overtime-canvas,
.tele-alert-graph-overtime-canvas .tele-graph-canvas {
	height: 200px;
}

.tele-alert-graph-distribution-canvas,
.tele-alert-graph-distribution-canvas .tele-graph-canvas {
	height: 450px;
	margin-right: -50px
}

.tele-alert-graph-overtime .tele-graph-canvas-outer {
	padding: 0px 20px;
}

.tele-alert-graph-distribution-canvas .tele-graph-canvas {
	margin-top: -20px;

}

.tele-pie-label {
	font-size: 18px;
	font-weight: normal;
}
.tele-pie-percent {
	font-size: 30px;
	font-weight: bold;
}
.tele-pie-count {
	color: #999999;
	font-size: 14px;
}

/* Dropdown Element */

.tele-dropdown {
	color: white;
	float: left;
	margin: 5px 30px 0px 30px;
}
.tele-dropdown .tele-dropdown-icon {
	
}
.tele-dropdown .tele-dropdown-value {
	color: black;
	text-decoration: none;
	margin-top: 10px;
	font-weight: normal;
	font-size: 15px;
	float: left;
}

.tele-dropdown .tele-dropdown-value.hover {
	color: #999;
}
.tele-dropdown .tele-dropdown-arrow {
	background: url("../img/icons.png") no-repeat scroll -325px -907px rgba(0, 0, 0, 0);
	height: 32px;
	width: 32px;
	display: block;
	font-size: 0px;
	float: right;
	margin-top: 4px;
	margin-left: 15px;
}
.tele-dropdown .tele-dropdown-arrow.hover {
	background-position: -362px -907px;
}

/* Checkbox Element */


.tele-panel-subtitle .tele-button {
	color: white;
	margin: 5px 30px 0px 30px;
	float: left;
}

/* Button Widget */

.tele-button {
	cursor: pointer;
}
.tele-button .tele-icon {
	
}
.tele-button .tele-button-text {
	margin-top: 10px;
	font-weight: normal;
	font-size: 15px;
	float: left;
}

.tele-button .tele-button-text.hover {
	color: #999;
}
.tele-panel-config .tele-panel-topbar .tele-button .active {
	color: #ff850b;
}

/* Radios Widget */

.tele-panel-subtitle .tele-radios {
	color: white;
	margin: 5px 30px 0px 30px;
	float: left;
}

.tele-radios {
	float: left;
	min-height: 38px;
	margin-top: 6px;
	margin-right: 13px;
}

.tele-radios-title {
	margin-top: 10px;
	font-weight: normal;
	font-size: 15px;
	float: left;
	color: white;
	opacity: 0.8;
	margin-right: 20px;
}
.tele-radio {
	float: left;
	cursor: pointer;
}
.tele-radio .tele-icon {
	
}
.tele-radio-title {
	margin-top: 5px;
	float: left;
}

/* Search Widget */
.tele-search {
	float: right;
	height: 32px;
	margin-right: 20px;
	margin-top: 10px;
	width: 200px;
}
.tele-search-input {
	padding: 4px 10px;
	border: 1px solid #cecece;
	border-radius: 15px;
	float: left;
	width: 130px;
	padding-right: 54px;
}
.tele-search-button {
	height: 28px;
	width: 28px;
	background: transparent url("../img/icons.png") no-repeat scroll -363px -573px;
	margin-left: -28px;
	float: left;
}
.tele-search-button:hover {
	background-position: -401px -573px;
}

.icon-delete-input {
	height: 28px;
	width: 28px;
	background: transparent url("../img/icons.png") no-repeat scroll -358px -355px;
	margin-left: -28px;
	float: left;
}
.icon-delete-input:hover {
	background-position: -393px -355px;
}

.icon-delete-input2 {
	height: 15px;
	width: 17px;
	background: transparent url("../img/cross-out-mark-2.png") no-repeat;
	margin-left: -29px;
	margin-top: 9px;
	float: left;
	zoom: 80%;
}
.icon-delete-input2:hover {
	background: transparent url("../img/cross-out-mark.png") no-repeat;
}
/* UI ToolTips */

.ui-tooltip, .arrow:after {
    background: black;
    border: 2px solid white;
  }
  .ui-tooltip {
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    font: bold 14px "Helvetica Neue", Sans-Serif;
    text-transform: uppercase;
    box-shadow: 0 0 7px black;
  }
  .arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
  }
  .arrow.top {
    top: -16px;
    bottom: auto;
  }
  .arrow.left {
    left: 20%;
  }
  .arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    tranform: rotate(45deg);
  }
  .arrow.top:after {
    bottom: -20px;
    top: auto;
  }
  
.loading {
	padding: 20px;
}

/* Case Panel */
.tele-panel-case .tele-panel-topbar {
	height: 60px;
	padding-right: 10px;
}

.tele-panel-case .tele-panel-topbar .tele-panel-title {
	margin-top: 7px;
	margin-left: 10px;
}

html .tele-panel-topbar a.tele-panel-case-close,
html .tele-panel-topbar a.tele-panel-case-close:visited {
	margin-top: 14px;
	color: #d6d6d6;
	float: left;
	font-size: 17px;
	text-decoration: underline;
	margin-left: 5px;
}
.tele-panel-topbar .tele-panel-description {
	color: white;
	clear: left;
	margin-left: 57px;
	font-size: 17px;
}

.tele-panel-topbar .tele-button {
	margin: 5px 30px 0px 30px;
}

.tele-panel-case .tele-panel-topbar .tele-button,
.tele-panel-case .tele-panel-topbar .tele-radios{
	float: right;
	margin-top: 15px;
}
.tele-panel-case .tele-case-graph .tele-navsep {
	float: right;
}
.tele-panel-case .tele-panel-topbar .tele-navsep {
	float: right;
	margin-top: 20px;
}

.tele-panel-case .tele-case-graph {
	width: 100%;
	height: 230px;
	background-color: #304f68;
}


.popover  .tele-graph-canvas-outer {
	/*padding: 20px 20px 20px 20px;*/
	height: 140px;
}

.tele-panel-case  .tele-graph-canvas-outer {
	padding: 65px 20px 20px 20px;
	height: 140px;
}

.tele-case-graph .tele-graph-title {
	float: left;
	font-size: 22px;
	color: #cccccc;
	margin: 10px 0px 0px 20px;
}

.tele-case-graph a,
.tele-case-graph a:visited {
	color: white;
	text-decoration: none;
}

#alert-distribution-showPercent{
	float: right;
    width: 100%;
    position: relative;
    text-align: center;
    margin-top: 15px;
}

.legendLabel{
	font-size: 15px;
	margin-bottom: 10px;
	padding: 4px;
	}

.tele-case-graph .tele-dropdown,
.tele-case-graph .tele-daterange {
	float: right;
	color: white;
}
.tele-case-graph .tele-daterange {
	margin-top: 10px;
	margin-right: 30px;
}

.tele-panel-case .tele-panel-subtitle {
	background-color: #222222;
}

/*.tele-panel-case .tele-list {*/
	/*padding: 20px 20px;*/
/*}*/

/* Anomaly Score Widget */
.tele-anomaly-score {
	min-height: 110px;
}
.tele-anomaly-wrap {

	float: left;
	width: 60px;
	margin-left: 10px;
	text-align: center;
	
}
.tele-anomaly-icon {

	height: 50px;
	width: 50px;
	background: black;
	background: transparent url("../img/icons.png") no-repeat scroll 0 0;
	margin: auto;
	margin-bottom: 10px;
	
}
.tele-anomaly-text {
	color: #D5D5D5;
	font-size: 18px;
	
}
.tele-anomaly-value {
	color: #D5D5D5;
	margin-top: 5px;
	font-size: 25px;
	font-weight: bold;
}

.tele-anomaly-value.active,
.tele-anomaly-text.active {
	color: #333333;
}

.case-popover-graph {
	height: 150px;
	width: 280px;
	display: block;
	/*padding: 20px;*/
}

/* Pagination Widget */
.tele-pagination {
	height: 36px;
	line-height: 36px;
}
.tele-pagination-next,
.tele-pagination-prev,
.tele-pagination-title {
	float: left;
}
.tele-pagination-title {
	padding: 0px 20px;
}
.tele-pagination .tele-icon {
	margin: 0px;
}
.tele-pagination-next,
.tele-pagination-prev {
	opacity: 0.6;
	cursor: pointer;
}
.tele-pagination-next.hover,
.tele-pagination-prev.hover {
	opacity: 1;
}

.loader {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -28px;
	margin-top: -28px;
	z-index:100;
}

.tele-alert-graph-distribution {
	margin-top: 40px;
}

.tele-param-data .severe,
.tele-param-score .severe {
	color: #FC3D3D;
}

.tele-request-details {
	padding: 10px;
	border: 5px solid rgba(0,0,0,0.3);
	background-color: #ffffff;
	border-radius: 10px;
	margin-top:2%;
	height: 42%;
	overflow-y: auto;
}
@media (max-width: 1200px){
  #alert-distribution-legend{
  	margin-top: 200px;
  }
  .tele-graph-canvas{top: 0px;}
}
