.tele-range {
	clear: both;
	height: 30px;
	margin-bottom: 15px;
}
.tele-range .tele-input-label {
	width: 160px;
}

.tele-range .ui-slider  {
	width: 200px;
	float: left;
	margin-top: 12px;
}
.tele-range-from,
.tele-range-to {
	width: 20px;
	float: left;
	height: 10px;
	margin: 0px 15px;
	margin-top: 12px;
}

.tele-popover-row {
	padding: 10px 10px 10px 0px;
	height: 30px;
	border-radius: 15px;
	position: relative;
}
.tele-popover-row .tele-icon {
	float: left;
	border-radius: 50px;
	height: 30px;
	width: 30px;
	background-color: transparent;
}
.tele-popover-row .tele-icon-actions {
	background-color: #555555;
}

.tele-count {
	float: left;
	  padding: 5px;
	  border-radius: 20px;
	  background-color: #ff5f5f;
	  color: white;
	  margin-left: -15px;
	  margin-top: -15px;
	  position: absolute;
	  top: 10px;
	  left: 28px;
	  font-size: 14px;
	  min-width: 15px;
	  text-align: center;
}

.tele-popover-row .tele-popover-subtitle {
	float: left;
	margin-top: 5px;
	font-weight: bold;
	font-size: 14px;
	margin-left: 10px;
}

.tele-popup .tele-multi-value {
	width: 230px;
}

.tele-multi-control {
	float: right;
}

.tele-config-system-tab.tele-config-system-whitelist .tele-multi .tele-multi-value .tele-multi-control{
	margin-top: 7px;
}

.interfaces.tele-multi .tele-multi-value .tele-multi-control{
	float: right;
	margin-top: 3px;
}

.tele-multi-control .tele-icon {
	height: 24px;
	width: 24px;
	margin-top: 8px;
}

.tele-browse .tele-button {
	float: left;
	background: #333;
	padding: 3px 10px;
	border-radius: 9px;
	margin-top: 5px;
	height: 20px;
}
.tele-browse .tele-button .tele-button-text {
	margin-top: 1px;
	color: #fff;
}

.tele-form-hr {
	clear: both;
	float: left;
	width: 100%;
	display: block;
	height: 1px;
	background: transparent;
	font-size: 1px;
	line-height: 1px;
	margin: 15px 0px;
}

.tele-config-content-right #tele-app-auth{
	position: relative;
}

#tele-app-auth .tele-checkbox {
	min-height: 60px;
}
#tele-app-auth .tele-app-auth-body {
	width: 600px;
}

.tele-rule-cmd-toggle .tele-input-label {
	font-weight: bold;
	font-size: 16px;
	width: 200px;
}

.tele-multi-value .tele-input {
	width: 200px;
	margin-bottom: 0px;
}

.tele-rule-editor .tele-multi .tele-multi-value .tele-browse .tele-input{
	width: 390px;
}

.tele-config-system-tab.tele-config-system-network .tele-multi .tele-multi-value .tele-network-wrap .tele-input.tele-network-name{
	width: 240px;
}

.tele-multi-value .tele-icon-delete {
	background-position: -420px -447px;
}
/* WHY?! */
.tele-multi-value .tele-icon-delete.hover,
.tele-multi-value .tele-icon-delete:hover {
	background-position: -450px -447px;
}

.tele-multi-value .tele-ip {
	
}

.tele-config-system-tab.tele-config-system-whitelist .tele-multi .tele-multi-value .tele-ip{
	margin-left: 0px;
	height: 200px;
	width: 240px;
}

/* teleList */
.tele-block.no-title {
	margin-top: 20px;
}

.tele-input.error .tele-input-input,
.tele-password.error .tele-input-input {
	border-color: red;
}

.tele-popup.tele-appselect-popup {
	padding: 0px;
	padding-left: 5px;
}
.tele-appselect-popup .tele-checkboxes {
	margin: 7px;
	float: left;
}

.tele-appselect-popup .tele-radios {
	height: 240px;
	overflow: auto;
}
.tele-appselect-popup .tele-radio-wrap {
	margin-bottom: 5px;
}
.tele-appselect-popup .tele-radio-label {
	float: right;
}
.tele-appselect-popup .tele-radio-radio {
	margin-right: 5px;
}
.tele-appselect-popup .tele-form-buttons {
	margin-top: 10px;
	background: #ccc;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	height: 40px;
	clear: both;
}
.tele-appselect-popup .tele-form-buttons .tele-button {
	padding: 11px 5px;
	width: 104px;
	margin: 0px;
	border: none;
	background-color: #ccc;
	color: #555555;
	text-shadow: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
.tele-appselect-popup .tele-form-buttons .tele-button:hover {
	background-color: #eee;
}
.tele-appselect-popup .tele-input-label {
	width: 155px;
}

/* teleRadios Widget */
.tele-radio-radio {
	height: 8px;
	width: 8px;
	border: 2px solid #cecece;
	background: none repeat scroll 0% 0% #CECECE;
	border-radius: 16px;
	padding: 3px;
	float: left;
	margin-top: 2px;
	margin-right: 5px;
}
.tele-radio-knob {
	background: black;
	border-radius: 18px;
	height: 8px;
	width: 8px;
}
.tele-radio-wrap {
	float: left;
	clear: both;
	margin-bottom: 4px;
}
/* teleInput Widget */
.tele-input {
	width: 320px;
	clear: both;
	float: left;
	margin-bottom: 0px;
	height: 32px;
}

.tele-input input[type="number"]{
	width: 45px;
}

.tele-input.tele-pattern-count{
	margin-top: 10px;
}

.tele-group-wrap-left,
.tele-group-wrap-right {
	float: left;
	width: 50%;
}

.tele-config-content-right .group-input{
	margin-left: 15px;
    margin-top: 15px;
}

.tele-password {
	width: 400px;
	clear: both;
	float: left;
	margin-bottom: 10px;
	height: 64px;
}
.tele-radio-label,
.tele-input-label {
	color: #555;
	font-size: 15px;
	float: left;
	width: 120px;
	margin-top: 10px;
	font-family: 'Roboto Condensed Regular';
	text-overflow: ellipsis;
}
.tele-radio-label {
	margin-top: 2px;
	width: 156px;
}

.tele-input-suffix {
	color: #555;
	font-size: 18px;
	float: left;
	margin-top: 8px;
	font-family: 'Roboto Condensed Regular';
	text-overflow: ellipsis;
	height: 20px;
	line-height: 20px;
	margin-left: 10px;
	
}

.tele-password .tele-input-label {
	height: 50px;
}
.tele-country-list .tele-input-label {
	margin-top: 0px;
}

.tele-condition-select .tele-input-label {
	width: 430px;
}
.tele-condition-select .tele-mini-toggle {
	float: left;
	margin-top: 2px;
	margin-right: 30px;
	margin-left: 25px;
}
.tele-condition-select .tele-mini-toggle-left,
.tele-condition-select .tele-mini-toggle-right {
	color: #333;
	font-size: 15px;
	color: #999999;
	margin-top: 6px;
}
.tele-condition-select .tele-mini-toggle-knob {
	background-color: white;
}
.tele-condition-select .tele-mini-toggle-middle {
	margin-top: 4px;
	background-color: #CCCCCC;
}
.tele-ip {
	float: left;
	margin-right: 3px;
	margin-bottom: 10px;
}
.tele-sc {
	float: left;
	width: 64px;
	clear: none;
}

.tele-ip-segment {
	padding: 5px;
	border: 1px solid #999;
	border-radius: 25px;
	margin-right: 2px;
	width: 38px;
}
.tele-ip-wrap,.tele-ip-wrap-lb, .tele-sc-wrap {
	clear: both;
	margin-top: 15px;
	/*margin-left: 11px;*/
}

.tele-ip-group-wrap {
	clear: both;
	margin-top: 15px;
	margin-left: 11px;
}

.tele-ip-wrap .tele-icon, .tele-ip-wrap-lb .tele-icon, .tele-sc-wrap .tele-icon  {
	margin-top: 2px;
}
.tele-ip-dash, .tele-sc-dash {
	margin-right: 3px;
	font-size: 25px;
	color: #555;
	float: left;
	margin-top: -8px;
}
.tele-sc-dash {
	margin-top: -11px;
}


.tele-multi-plus {
	margin-top: -40px;
	margin-left: 25px;
}

.tele-input-input {
	width: 175px;
	padding: 4px;
	border: 1px solid #999;
	border-radius: 20px;
	height: 16px;
	margin-top: 5px;
	padding-left: 10px;
}
/* Input styled link */ 
a.tele-input-input {
	float: left;
	width: 300px;
}

.rules_string_control_bool {
	width: 480px;
	/*display: inline-block;*/
}


.tele-input-input .regex_control {
	width: 175px;
	padding: 4px;
	border: 1px solid #999;
	border-radius: 20px;
	height: 16px;
	margin-top: 5px;
	padding-left: 10px;
}

/* teleCheckbox Widget */
.tele-checkbox {
	/*width: 100%;
	clear: both;*/
	float: left;
	margin-bottom: 5px;
	height: 25px;
}
.tele-rule-editor .tele-checkbox{
	width:100%;
	clear:both;
}
.tele-group-permissions .tele-checkbox{
	margin-bottom: 5px;
}

.tele-checkbox.no-label {
	width: 32px;
}
.tele-checkbox-label {
	color: #555;
	font-size: 15px;
	float: left;
	width: 170px;
	margin-top: 10px;
}
.tele-checkbox-checkbox {
	background: transparent url("../img/icon_map.png") no-repeat scroll -415px -475px;
	height: 32px;
	width: 32px;
	float: left;
	cursor: pointer;
	text-decoration: none;
	margin-right: -3px;
	margin-top: 3px;
}
.tele-checkbox-checkbox.checked {
	background: transparent url("../img/icon_map.png") no-repeat scroll -445px -475px;
}
.tele-checkbox-favorites {
	background: transparent url("../img/icons.png") no-repeat scroll -323px -875px;
	height: 32px;
	width: 32px;
	float: left;
	cursor: pointer;
	text-decoration: none;
}
.tele-checkbox-favorites.checked {
	background: transparent url("../img/icons.png") no-repeat scroll -361px -875px;
}

/* TELE FORM */
.tele-form {
	padding: 20px;
	float: left;
	width: 40%;
}
.tele-form-title {
	font-size: 28px;
	margin-bottom: 15px;
}
.tele-form-item {
	margin-bottom: 10px;
}
.tele-form-buttons {
	clear: both;
	margin-top: 30px;
}
.tele-form-inner {
	width: 33%;
}

.tele-form-item .tele-checkbox {
	margin-bottom: 10px;
}

/* Tele Browser */

.tele-browser {
	height: 370px;
	/*overflow: hidden;*/
	clear: both;
	padding: 10px;
}

/*.tele-browser .jstree-default .jstree-node,*/
.tele-browser .jstree-default .jstree-icon:empty,
.tele-browser .jstree-default .jstree-icon {
	background: transparent url('../img/icon_map.png') no-repeat;
	height: 22px;
	width: 22px;
	border-radius: 16px;
	margin-top: 5px;
}

.jstree-icon .jstree-themeicon .tele-icon-app .jstree-themeicon-custom{
	background-position: -510px -510px;
}

.tele-icon-dir{
	background-position: 0px 0px;
}

.tele-icon-page{
	background-position: -449px -510px;
}
/*PAGE
-449px -510px*/

.tele-browser .jstree-default .jstree-anchor {
	padding: 5px 10px;
	font-size: 12px;
	float: none;
	margin-right: -200px;
}

.tele-browser .jstree-default .jstree-node {
	border: none;
	margin-right: 20px;
}
.tele-browser .jstree-default > .jstree-no-dots .jstree-closed > .jstree-ocl {
	background-position: -419px -420px;
}
.tele-browser .jstree-default > .jstree-no-dots .jstree-closed.hover > .jstree-ocl {
	background-position: -449px -420px;
}
.tele-browser .jstree-default > .jstree-no-dots .jstree-open > .jstree-ocl {
	background-position: -419px -447px;
}
.tele-browser .jstree-default > .jstree-no-dots .jstree-open.hover > .jstree-ocl {
	background-position: -449px -447px;
}
.tele-browser .jstree-default .jstree-wholerow-clicked,
.tele-browser .jstree-default .jstree-wholerow-hovered {
	border-radius: 20px;
}
.tele-browser .jstree-default .jstree-wholerow {
	height: 32px;
}
.tele-browser .mCSB_container {
	margin-right: 15px;
}

body .vakata-context, body .vakata-context ul {
	background: white;
	margin-top: -35px;
	margin-left: 35px;
	border: none;
}
body .vakata-context li > a {
	padding: 5px;
	line-height: 22px;
}

body .vakata-context li > a > i:empty,
body .vakata-context li > a > i {
	width: 22px;
	height: 22px;
	line-height: 22px;
	margin: 0px;
	background-image: url("../img/icons.png");
}
body .vakata-context li > a .vakata-contextmenu-sep {
	height: 22px;
	line-height: 22px;
}

.ui-autocomplete.ui-widget-content {
	background: #fff;
	border-radius: 20px;
}

.tele-radios .tele-input-label {
	margin-top: 0px;
}


.tele-multi {
	width: 220px;
}
.tele-multi-value input {
	color: #000;
	padding: 1px 7px 2px;
	background: none repeat-x scroll 0px 0px #FFF;
	border-width: 1px;
	border-style: solid;
	border-color: #555;
	height: 22px;
	line-height: 17px;
	width: 160px;
	border-radius: 10px;
	margin-top: 5px;
}

.tele-rule-editor .tele-multi .tele-multi-value .tele-input .tele-input-input{
	width: 230px;
	margin-left: 2px;
}

.tele-rule-editor .tele-multi .tele-multi-value .tele-browse{
	width: 500px;
}

.tele-config-system-tab.tele-config-system-whitelist .tele-multi .tele-multi-value .tele-ip .tele-ip-segment{
	color: #000;
	padding: 1px 7px 2px;
	background: none repeat-x scroll 0px 0px #FFF;
	border-width: 1px;
	border-style: solid;
	border-color: #555;
	height: 22px;
	line-height: 17px;
	width: 40px;
	margin-left: 2px;
	border-radius: 20px;
	margin-top: 5px;
}

.tele-multi-value {
	width: 250px;
	margin-bottom: 5px;
	float: left;
	height: 25px;
}

.tele-config-system-tab.tele-config-system-whitelist .tele-multi .tele-multi-value{
	width: 300px;
}

.tele-rule-editor .tele-multi .tele-multi-value{
	width: 320px;
}

.tele-multi.tele-rule-alert-param .tele-multi-value{
	width: 520px;
}


.tele-autocomplete-select {
	z-index: 9999;
	background: white;
	border: 1px solid #b5b8c8;
	max-height: 200px;
	overflow: auto;
}
.tele-autocomplete-item {
	padding: 4px;
	cursor: pointer;
}
.tele-autocomplete-item.hover {
	background: #e7f4f9;
}

.tele-rule-pattern-window select.tele-rule-dropdown{
	margin-top: 10px;
}

.tele-rule-dropdown {
	/*clear: both;*/
	float: left;
	background-color: #CECECE;
	border: 1px solid #CECECE;
	margin: 12px 10px;
}

.tele-velocity-wrap{
	display: inline-flex;
	float: left;
	clear: both;
}

.tele-geo-type{
	clear: both;
}


.tele-geo-ts{

	border: 1px solid #999;
	border-radius: 20px;
	height: 26px;
	margin: 5px;
	padding-left: 10px;
}

.tele-country-letters {
	width: 310px;
}

.tele-country-letters li {
	float: left;
	display: block;
	text-align: center;
	border: 1px solid black;
	padding: 3px;
	margin: 3px;
	font-weight: bold;
}

.tele-country-list .text {
	margin-top: 2px !important;
}

.tele-country-list .tele-input-label {
	width: 200px;
	margin-top: 5px;
}

.tele-country-list  .tele-checkbox-checkbox {
	margin-top: 0px;
}
