vendor/elasticsearch/elasticsearch/src/Elasticsearch/Client.php
/application/config/config.php
application/models/m_test.php
tmp/
application/databases/telepath_users.db
/application/config/database.php
.svn/
